body{
    background: url(assets/img/back.jpg) no-repeat;
    background-size: cover;
    margin:auto;
    width:50%;
    text-align: center;
}
h3{
    margin: 0px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}
header{
    font-size: 22px;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px #000;

}
header ul li{
    list-style: none;
}
section form ul li{
    list-style: none;
}
section form ul li label{
    font-size: 22px;
    font-weight: 900;
}
section{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    font-size: medium;
}

section button{
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
    background: #e2111b88;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 5px;
    font-size: medium;
    padding: 5px;
    padding-right: 50px;
    text-align: center;
}

#cardapio{
    display:inline;
    text-align:justify;
}

.container{
    background-color: #d7622cd9;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 10px;
}